### Patterns

In [14]:
n = 5
for i in range(n):
    for j in range(n):
        print("*", end="")
    print()

*****
*****
*****
*****
*****

In [16]:
n = 5
for i in range(n):
    for j in range(i+1):
        print("*", end="")
    print()

*
**
***
****
*****

In [17]:
n = 5
for i in range(n):
    for j in range(i+1):
        print(i, end="")
    print()

0
11
222
3333
44444

In [18]:
n = 5
for i in range(n):
    for j in range(i+1):
        print(j, end="")
    print()

0
01
012
0123
01234

In [3]:
n = 5
for i in range(n):
    for j in range(n-i):
        print("*", end="")
    print()

*****
****
***
**
*

In [24]:
for i in range(5,0,-1):
    for j in range(i):
        print(j, end="")
    print()

01234
0123
012
01
0

In [5]:
n = 5
for i in range(n):
    for j in range(n-i):
        print(" ", end="")

    for k in range((i+1)*2-1):
        print("A", end="")

    print()

     A
    AAA
   AAAAA
  AAAAAAA
 AAAAAAAAA

In [52]:
n = 5
for i in range(n):
    for j in range(i):
        print(" ", end="")
    
    for k in range((n-i)*2-1):
        print("*", end="")

    print()

*********
 *******
  *****
   ***
    *

In [ ]:
n = 5
for i in range(n):
    for j in range(n-i):
        print(" ", end="")
    
    for k in range(((i+1)*2)-1):
        print("*", end="")
    print("")

for i in range(n):
    for j in range(i+1):
        print(" ", end="")

    for k in range(((n-i)*2)-1):
        print("*", end="")
    print()

     *
    ***
   *****
  *******
 *********
 *********
  *******
   *****
    ***
     *

In [78]:
n = 5
for i in range(n):
    for j in range(i):
        print("*", end="")
    print()

n = 5
for i in range(n):
    for j in range(n-i):
        print("*", end="")
    print()

*
**
***
****
*****
****
***
**
*

In [86]:
n = 5
for i in range(n):

    if (i+1)%2==0:  
        flag = 0
    else:
        flag=1
            
    for j in range(i+1):
        print(flag, end="")
        if flag:
            flag=0
        else:
            flag=1
    print()

1
01
101
0101
10101

In [184]:
for i in range(n):
    for j in range(i+1):
        print(j+1, end="")

    for k in range((n-1-i)*2):
        print(" ", end="")

    for l in range(i+1):
        print(i-l+1, end="")
    print()

1        1
12      21
123    321
1234  4321
1234554321

In [106]:
n = 5
a = 1
for i in range(n):
    for j in range(i+1):
        print(a, end="")
        a+= 1
    print()

1
23
456
78910
1112131415

In [114]:
n = 5
a = 65
for i in range(n):
    for j in range(i+1):
        print(chr(a), end="")
        a+= 1
    a = 65
    print()

A
AB
ABC
ABCD
ABCDE

In [116]:
n = 5
a = 65
for i in range(n):
    for j in range(n-i):
        print(chr(a), end="")
        a+= 1
    a = 65
    print()

ABCDE
ABCD
ABC
AB
A

In [117]:
n = 5
a = 65
for i in range(n):
    for j in range(i+1):
        print(chr(a), end="")
    a+= 1

    print()

A
BB
CCC
DDDD
EEEEE

In [124]:
n = 5
a = 65
for i in range(n):
    for k in range(n-i):
        print(" ", end="")
    for j in range(i+1):
        print(chr(a), end="")
        a+= 1

    for l in range(i):
        print(chr(a-2), end="")
        a-= 1
    a = 65

    
    print()

     A
    ABA
   ABCBA
  ABCDCBA
 ABCDEDCBA

In [132]:
n = 5
a = 65
for i in range(n):
    for j in range(i+1):
        print(chr(a+n-i-1), end="")
        a+= 1
    a=65
    print()

E
DE
CDE
BCDE
ABCDE

In [163]:
n = 5
for i in range(n):
    for j in range(n-i):
        print("*", end="")
    #print()

    for k in range(i*2):
        print(" ", end="")
    
    for l in range(n-i):
        print("*", end="")
    
    print()

n = 5
for i in range(n):
    for j in range(i+1):
        print("*", end="")
    #print()

    for k in range((n-i)*2-2):
        print(" ", end="")
    
    for l in range(i+1):
        print("*", end="")
    
    print()

**********
****  ****
***    ***
**      **
*        *
*        *
**      **
***    ***
****  ****
**********

In [170]:
n = 5
for i in range(n):
    for j in range(i+1):
        print("*", end="")
    #print()

    for k in range((n-i)*2-2):
        print(" ", end="")
    
    for l in range(i+1):
        print("*", end="")
    
    print()

n = 5
for i in range(n):
    if i ==0:
        continue
    for j in range(n-i):
        print("*", end="")
    #print()

    for k in range(i*2):
        print(" ", end="")
    
    for l in range(n-i):
        print("*", end="")
    
    print()

*        *
**      **
***    ***
****  ****
**********
****  ****
***    ***
**      **
*        *

In [175]:
n = 5
for i in range(n):
    for j in range(n):
        if i ==0 or i ==n-1 or j==0 or j==n-1:
            print("*", end="")
        else:
            print(" ", end="")
    print()

*****
*   *
*   *
*   *
*****

In [368]:
n = 5
for i in range(n):
    for j in range(i+1):
        print(n-j, end="")
    
    for k in range((n-i)*2-3):
        print(n-i, end="")
    for l in range(i+1):
        if n-(i-l)==1:
            continue
        print(n-(i-l), end="")
   
    print()

for i in range(n):
    for j in range(n-i-1):
        print(n-j, end="")

    for k in range((i+1)*2-1):
        if i+1 ==n:
            continue
        print(i+2, end="")

    for m in range(n-i-1):
        print(i+m+2, end="")
    print()

555555555
544444445
543333345
543222345
543212345
543222345
543333345
544444445
555555555